.stensil1 {
    background: url(../images/general/stensils/spiral.png), url(../images/general/stensils/dots.png), url(../images/general/stensils/spiral.png);
    background-repeat: no-repeat;
    background-position: top -210px center, top 7% left 4%, top 58% right -10%;
    background-size: 500px, 100px, 400px;
}

.stensil2 {
    background: url(../images/general/stensils/race_down.png);
    background-repeat: no-repeat;
    background-position: bottom 0 right 20px;
    background-size: 165px;
}