header img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1/1;
}

h1 {
    padding-bottom: 8px;
    font-size: 40px;
}

/* PRODUCTS */


#products .banner {
    width: 100%;
    aspect-ratio: 1/1;
    background: url(../images/products/banner.png) no-repeat center/cover local transparent;
}

#products .swiper {
    width: 100%;
    overflow-x: hidden;
}

#products .swiper-slide {
    text-align: start;
    font-size: 18px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

}

#products .swiper-pagination .swiper-pagination-bullet {
    height: 15px;
    width: 15px;
}


#products .swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    /* margin-bottom: 20px; */
}

#products .swiper-pagination-bullet-active {
    background-color: var(--pink);
    height: 15px;
    width: 15px;
}

/* CUSTMOERS */

#customers .banner {
    width: 100%;
    aspect-ratio: 1/1;
    background: url(../images/products/banner.png) no-repeat center/cover local transparent;
}

#customers .swiper {
    width: 100%;
    max-height: 350px;
    overflow-x: hidden;
}

#customers .swiper-slide {
    text-align: start;
    font-size: 18px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

}

#customers .swiper-pagination .swiper-pagination-bullet {
    height: 15px;
    width: 15px;
    margin-top: 20px;
}


#customers .swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin-bottom: 20px;
}

#customers .swiper-pagination-bullet-active {
    background-color: var(--pink);
    height: 15px;
    width: 15px;
}


/* :root {
    --pink: #CC338B;
    --pink-2: #FFF4FA;
    --pink-3: #F5D6E8;
    --grey-1: #A0A0A0;
    --grey-2: #666666;
    --grey-3: #333333;
    --grey-4: #D4D4D8;
    --grey-5: #E6E6E6;
    --dark-1: #18181B;
    --shadow-1: 0 8px 16px 0 #0000001A;
     --shadow-2: 0px 1px 6px 0 #0F172A1A;
    --gradient-1: linear-gradient(180deg, #C940AC 0%, #A33575 100%);
    ;
    --gradient-2: linear-gradient(180deg, #CC338B 0%, #A33575 100%);
    ;
    --thin-border: 1px solid var(--grey-5);
} */