header img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1/1;
}

h1 {
    padding-bottom: 8px;
    font-size: 40px;
}

/* STRENGTHS */

/* #strengths {} */

#services .service {
    box-shadow: var(--shadow-1);
    border: 1px solid var(--pink);
    background-color: white;
    color: var(--grey-2);
}

#services .service img {
    height: 50px;
    aspect-ratio: 1/1;
}

#services .backdrop {
    background: var(--gradient-1);
}

#services .service .fa-solid {
    transform: rotate(45deg);
    color: var(--pink);
    font-size: 20px;
}

/* .workFlow {
    column-gap: 30px;
} */

#howItWorks .workFlow>p {
    background-color: var(--pink-3);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 15px 20px;
    margin: 10px 20px;
}



/* :root {
    --pink: #CC338B;
    --pink-2: #FFF4FA;
    --pink-3: #F5D6E8;
    --grey-1: #A0A0A0;
    --grey-2: #666666;
    --grey-3: #333333;
    --grey-4: #D4D4D8;
    --grey-5: #E6E6E6;
    --dark-1: #18181B;
    --shadow-1: 0 8px 16px 0 #0000001A;
    --shadow-2: 0px 1px 6px 0 #0F172A1A;
    --gradient-1: linear-gradient(180deg, #C940AC 0%, #A33575 100%);
    ;
    --gradient-2: linear-gradient(180deg, #CC338B 0%, #A33575 100%);
    ;
    --thin-border: 1px solid var(--grey-5);
} */